/* Author: Rafal Ryczek */
/* Visual Studio Code   */

@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

body {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

/* -------------------------------------------------------------------------------- */
/* ---------------------------------- SplashPage ---------------------------------- */
/* -------------------------------------------------------------------------------- */

.column {
    float: left;
    max-width: 50%;
}

/* Images */
#left-side {
    display: grid;
    height: 100%;
}

.image-SEC-club {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.image-TU-logo {
    max-height: 15vh;
    vertical-align: top;
}

#right-side {
    float: right;
    margin-left: 30px;
}

/* Buttons Container */
#top-buttons-container {
    text-align: right;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.btn-type1 {
    background-color: white;
    color: #f50d37;
    font-size: 20px;
    padding: 10px 25px;
    border: 1px solid #f50d37;
    border-radius: 5px;
    cursor: pointer;
}

.btn-type1:hover {
    background-color: #f50d37;
    color: white;
}

#button-contact {
    border: none;
    margin-right: 2vh;
}

#button-events {
    margin-right: 10vh;
}

.btn-type2 {
    background-color: #f50d37;
    color: white;
    font-size: 20px;
    font-weight: normal;
    padding: 20px;
    border: none;
    border-radius: 5px;
    margin-top: 5vh;
    cursor: pointer;
}

.btn-type2:hover {
    background-color: black;
    color: white;
}

/* Center Text Container */
#center-container {
    text-align: left;
    font-family: 'Varela Round', sans-serif;
    color: #f50d37;
}

.center-text-bold {
    font-weight: bold;
    font-size: 70px; 
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
}

.center-text-weak {
    font-size: 50px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px; 
}

/* Bottom Button Container */
#bottom-button-container {
    text-align: right;
    margin-top: 5vh;
    margin-right: 10vh;
}

/* ------------------------------------------------------------------------------- */
/* -------------------------------- ContactUsPage -------------------------------- */
/* ------------------------------------------------------------------------------- */

.form-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 40%;
    border-radius: 5px;
    background-color: rgba(255,255,255,.85);
    box-shadow: 0 0 3px black;
}

.form-header {
    background-color: #f50d37;
    color: white;
    padding: 0px;
}

#text-contact-us {
    margin: 0px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

#contact-form {
    padding: 25px;
    font-size: 20px;
}

.form-label {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    color: #424242;
}

#fullName, #email, #message {
    margin-top: 1vh;
    margin-bottom: 5vh;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 20px;
}

#message {
    height: 100px;
    margin-bottom: 0px;
}

#btn-submit {
    text-align: center;
}

.asterix {
    color: red;
}

/* -------------------------------------------------------------------------------- */
/* -------------------------------- LearnMorePage --------------------------------- */
/* -------------------------------------------------------------------------------- */

.image-SEC-club2 {
    max-width: 100%;
}

#container-about {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#about-us {
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
    color: rgb(63, 63, 63);
}

hr {
    margin-left: 10vh;
    margin-right: 10vh;
    border: 3px solid black;
}

#about-us-quote {
    margin-top: 10vh;
    margin-bottom: 15vh;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 40px;
    font-weight: bold;
    color: #f50d37;
}

#about-us-text {
    margin-bottom: 15vh;
    padding-left: 10vh;
    padding-right: 10vh;
    font-size: 20px;
    text-align: justify;
}