/* Author: Rafal Ryczek */
/* Visual Studio Code   */

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.container {
    float: right;
    height: 100%;
}

.image-background {
    background-image: url(./img/asset1.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    
    min-height: 100vh;
    z-index: 1;
}

.image-TU-logo {
    max-height: 5vh;
}

#top-buttons-container {
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-align: center;
}

.btn-type1 {
    background-color: #ffffff;
    color: #f50d37;
    font-size: 20px;
    padding: 10px 25px;
    border: 1px solid #f50d37;
    border-radius: 5px;
    margin-top: 5vh;
    cursor: pointer;
}

.btn-type1:hover {
    background-color: #f50d37;
    color: #FFFFFF;
}

#button-contact {
    border: none;
    margin-right: 2vh;
}

#button-events {
    margin-right: 10vh;
}

.btn-type2 {
    background-color: #f50d37;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    margin-top: 5vh;
    cursor: pointer;
}

.btn-type2:hover {
    background-color: #000000;
    color: #ffffff;
}