/* Author: Rafal Ryczek */
/* Visual Studio Code   */

@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

body {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.column {
    float: left;
    max-width: 50%;
}

/* Images */
#left-side {
    display: grid;
    height: 100%;
}

.image-SEC-club {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.image-TU-logo {
    max-height: 15vh;
    vertical-align: top;
}

#right-side {
    float: right;
    margin-left: 30px;
}

/* Buttons Container */
#top-buttons-container {
    text-align: right;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.btn-type1 {
    background-color: #ffffff;
    color: #f50d37;
    font-size: 20px;
    padding: 10px 25px;
    border: 1px solid #f50d37;
    border-radius: 5px;
    cursor: pointer;
}

.btn-type1:hover {
    background-color: #f50d37;
    color: #FFFFFF;
}

#button-contact {
    border: none;
    margin-right: 2vh;
}

#button-events {
    margin-right: 10vh;
}

.btn-type2 {
    background-color: #f50d37;
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 3px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    margin-top: 5vh;
    cursor: pointer;
}

.btn-type2:hover {
    background-color: #000000;
    color: #ffffff;
}

/* Center Text Container */
#center-container {
    text-align: left;
    font-family: 'Varela Round', sans-serif;
    color: #f50d37;
}

.center-text-bold {
    font-weight: bold;
    font-size: 70px; 
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
}

.center-text-weak {
    font-size: 50px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px; 
}

/* Bottom Button Container */
#bottom-button-container {
    text-align: right;
    margin-top: 5vh;
    margin-right: 10vh;
}